@import './color.css';
/* @import './base.css'; */
@import './width.css';
@import ('./base') layer(base);

@layer base main;
@layer main {
  #app {
    width: 100%;
    margin: 0 auto;
    max-width: 1640px;
    font-weight: normal;
    /* padding: 2rem; */
  }

  a {
    text-decoration: none;
    /* color: hsla(160, 100%, 37%, 1); */
    transition: 0.4s;
    /* padding: 3px; */
  }
  img {
    /* vertical-align: top; */
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}
